{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="columns">
            <div class="col-half">
            <h1>Discover places near you.</h1>
            <div class="buttons">
                <button class="button"><a href="{{ url_for('index') }}">Signup</a></button>
                <button class="button button-secondary"><a href="{{ url_for('about') }}">Learn more</a></button>
            </div>
        </div>
        <div class="col-half">
            <img src="{{ url_for('static', filename='assets/laptop.svg') }}" alt="App screenshot">
        </div>
        </div>
    </div>
</section>
{% endblock %}
